<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{thymeleaf/layout/layout}">

<body>

<div layout:fragment="content">

    <img th:src="@{/img/thymeleaf.png}"
         width="300">

    <ul>
        <li th:each="fruit : ${fruits}" th:text="${fruit}"> fruits placeholder</li>
    </ul>
</div>
<script layout:fragment="script" th:inline="javascript">

    const fruits=[[${fruits}]]

</script>
</body>
</html>
